.grid {
  width: 100%;
  max-width: 999px;
  min-width: 755px;
  padding: 2em 0;
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  display: table;
  clear: both;
  content: "";
}

article {
  width: 88%;
  margin: 0 auto;
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

header {
  margin: 0 0 2em;
}

header:before,
header:after {
  display: table;
  line-height: 0;
  content: "";
}

header:after {
  clear: both;
}

header ul {
  margin: 0 0 1em;
  font-family: monospace;
  font-size: 1.15em;
  line-height: 1;
  list-style: none;
}

header ul li {
  margin: 0 0 0.5em;
}

header .info {
  float: right;
  font-size: 0.8em;
}

header img {
  float: left;
  width: 88px;
}

h1,
.h1 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ddd;
}

h2,
.h2 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eee;
}

body {
  font-family: ff-meta-serif-web-pro,Georgia,"Times New Roman",Times,serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.15;
  color: #000000;
  page-break-inside: avoide;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #ccc;
}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}

h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}

h1,
.h1 {
  font-size: 46px;
}

h2,
.h2 {
  font-size: 38px;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 28px;
}

h5,
.h5 {
  font-size: 24px;
}

h6,
.h6 {
  font-size: 22px;
}

p,
ul,
ol {
margin-bottom: 30px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.01rem;
  color: #333333;
  page-break-inside: avoide;
}

ul {
  list-style: square;
}

ul,
ol {
  padding-left: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul li,
ol li {
  margin-bottom: 0.25em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  padding: 1em;
  background: #f2f2f4;
  page-break-inside: avoide;
}

code {
  font-size: 16px;
}

blockquote {
  padding: 5px 20px;
  margin: 0;
  background: #1C7B44;
}

blockquote p {
  color: #fff;
}

img {
  max-width: 100%;
}

th {
  text-align: left;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  background-color: #fff;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 0.35em;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #ddd;
}

table table {
  background-color: #fff;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f2f2f4;
}

@media handheld, only screen and (max-width: 767px) {
  table {
    width: 100%;
    margin-bottom: 0.75em;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  table > table {
    margin-bottom: 0;
  }
  table > table > thead > tr > th,
  table > table > tbody > tr > th,
  table > table > tfoot > tr > th,
  table > table > thead > tr > td,
  table > table > tbody > tr > td,
  table > table > tfoot > tr > td {
    white-space: nowrap;
  }
}

.file-list .head {
  line-height: 1.5;
  padding: 3px 5px 3px 2px;
}
.file-list ol {
  padding: 0;
  margin: 0;
}

.file-list .entry {
  text-align: left;
  padding: 7px 5px 6px;
  margin: 0px 0px -1px;
  line-height: 1.5;
  list-style: none outside none;
  position: relative;
  border-style: solid;
  border-color: #E5E5E5;
  border-image: none;
  border-width: 1px 0px;
  font-size: 16px;
}

.file-list .entry:hover {
  background: #E9F9FF;
}
.entry a {
  color: #3290B2;
  white-space: pre;
  text-decoration: none;
}
.entry a:hover {
  text-decoration: underline; 
}

.head .name,
.entry .name {
  float: left;
  width: 40%;
  display: block;
  cursor: default;
  text-align: left;
  line-height: 2;
}

.head .client,
.entry .client {
  float: left;
  width: 20%;
  display: block;
  cursor: default;
  text-align: left;
  line-height: 2;
}

.head .date,
.entry .date {
  float: left;
  width: 20%;
  display: block;
  cursor: default;
  text-align: left;
  line-height: 2;
}

.head .project,
.entry .project {
  float: left;
  width: 20%;
  display: block;
  cursor: default;
  text-align: left;
  line-height: 2;
}

@media handheld, only screen and (max-width: 767px) {
  .head .name,
  .entry .name {
    width: 100%;
  }
  .head .client,
  .entry .client {
    width: 30%;
  }
  .head .date,
  .entry .date {
    width: 30%;
  }
  .head .project,
  .entry .project {
    width: 40%;
  }
}