@import url("//fonts.googleapis.com/css?family=Raleway:400,700");
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    position: relative;
}
.nav-stacked {
    margin-top: 26px;
}
.nav .permalink {
    display: none;
    padding: 9px 15px 4px;
    background: #2ECC71 !important;
    position: absolute;
    right: 0;
    top: 0
}
.nav .active {
    position: relative;
}
.nav .permalink i {
    font-size: 20px;
}
.nav .active .permalink {
    display: inline-block
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent;
}
.mh {
    padding: 10px 15px;
    color: #999;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.me {
    padding: 5px 15px;
    color: #999;
    border-bottom: 1px solid #dedede;
}
.me.first {
    border-top: 1px solid #dedede;
}
a.headerlink {
    padding-right: 6px;
    margin-left: 10px;
    word-wrap: break-word;
    color: #CBCBCB;
    text-decoration: none;
    visibility: hidden;
    display: inline-block;
}
a.headerlink:hover {
    color: #333;
    text-decoration: none
}
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, .h1:hover > a.headerlink, .h2:hover > a.headerlink, .h3:hover > a.headerlink, .h4:hover > a.headerlink, .h5:hover > a.headerlink, .h6:hover > a.headerlink {
    visibility: visible;
}
.img-wrap {
	text-align: center;
	margin: 26px 0;
}
.img-wrap > img {
	max-width: 100%;
}