<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oops</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <meta name="description" content="?">
    <meta name="author" content="?">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
</head>
<body>

<div style="margin: 5em auto; width: 80%; text-align:center;"> 
	<blockquote style="font-size: 4em; line-height: 1.25; font-family: Georgia, 'Times New Roman', Times, serif; ">
		“Not all those who wander are lost.”<br>
		<small style="font-size: 0.35em; line-height: 1.25; font-family: Arial, sans-serif; color:#ccc">— J.R.R. Tolkien</small>
	</blockquote>
</div>

</body>
</html>