<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Denke Note</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Denke">
    <link rel="stylesheet" href="{{baseUrl}}static/files/bs.min.css" type="text/css">
    <link rel="stylesheet" href="{{baseUrl}}static/files/main.css" type="text/css">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {{#if showCategories}}
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{/if}}
                <a href="/" class="navbar-brand">Denke Note</a>
            </div>
            {{#if showCategories}}
            <ul class="collapse nav navbar-nav navbar-collapse navbar-right">
                {{#each categories}}
                <li {{#active_post @index @root.cindex}}class="active"{{/active_post}}>
                    <a href="{{../baseUrl}}{{.}}">{{category_name}}</a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div role="tabpanel">
                <div class="col-sm-12 col-md-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {{#each posts}}
                        <div role="tabpanel" class="tab-pane {{#active_post @index @root.pindex}}active{{/active_post}}  " id="{{metadata.url}}">
                            {{{text}}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li class="mh" role="presentation">
                            Related Links
                        </li>
                        {{#each posts}} 
                        <li role="presentation" {{#active_post @index @root.pindex}}class="active"{{/active_post}}>
                            <a href="#{{metadata.url}}" aria-controls="{{metadata.url}}" role="tab" data-toggle="tab">
                                {{metadata.title}}
                                <a class="permalink" href="{{../baseUrl}}{{../cat}}/{{metadata.url}}"><i class="ion-link"></i></a>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    {{#each posts}}
                    {{#active_post @index @root.pindex}}
                    {{#if ../../pdf}}
                    <ul class="nav nav-pills nav-stacked">
                        <li class="mh" role="presentation">
                            Download
                        </li>
                        <li role="presentation">
                            <a href="{{../../baseUrl}}print/pdf/{{../../cat}}/{{metadata.url}}">PDF</a>
                        </li>
                    </ul>
                    {{/if}}
                    <ul class="nav nav-pills nav-stacked">
                        <li class="mh" role="presentation">
                            Metadata
                        </li>
                        <li class="first me" role="presentation">
                            Updated <span class="pull-right">{{date_from_now ../metadata.mtime}}</span>
                        </li>
                        <li class="me" role="presentation">
                            Created <span class="pull-right">{{date_from_now ../metadata.ctime}}</span>
                        </li>
                    </ul>
                    {{/active_post}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{baseUrl}}static/files/bs.min.js"></script>

</body>

</html>
