<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{@root.pageTitle}}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Denke">
    <link rel="stylesheet" href="{{@root.baseUrl}}libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{@root.baseUrl}}libs/ionicons/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="{{@root.baseUrl}}static/files/mermaid.css" type="text/css">
    <link rel="stylesheet" href="{{@root.baseUrl}}static/files/main.css" type="text/css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {{#if showCategories}}
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{/if}}
                <a href="{{@root.baseUrl}}" class="navbar-brand">{{{pageTitle}}}</a>
            </div>
            {{#if showCategories}}
            <ul class="collapse nav navbar-nav navbar-collapse navbar-right">
                {{#each categories}}
                <li {{#active_post @index @root.cindex}}class="active"{{/active_post}}>
                    {{#if @root.saved}}
                    <a href="{{@root.baseUrl}}{{.}}.html">{{category_name}}</a>
                    {{else}}
                    <a href="{{@root.baseUrl}}{{.}}">{{category_name}}</a>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div role="tabpanel">
                <div class="col-sm-12 col-md-8 {{#if showRelatedLinks}}col-md-offset-1{{else}}col-md-offset-4{{/if}}">
                    <!-- Tab panes -->
                    {{#if showAllPosts}}
                    <div class="tab-content article">
                        {{#each posts}}
                        <div class="tab-pane active" id="{{metadata.url}}">
                            {{{text}}}
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="tab-content article">
                        {{#each posts}}
                        {{#active_post @index @root.pindex}}
                        <div class="tab-pane active" id="{{../metadata.url}}">
                            {{{../text}}}
                        </div>
                        {{/active_post}}
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{#if showRelatedLinks}}
                <div class="col-sm-12 col-md-3">
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        {{#each posts}}
                        {{#active_post @index @root.pindex}}
                        <li role="presentation">
                            <a href="{{@root.baseUrl}}article/{{@root.cat}}:{{metadata.url}}">View as a Single Article</a>
                        </li>
                        {{/active_post}}
                        {{/each}}
                        <li class="mh" role="presentation">
                            Related Links
                        </li>
                        {{#each posts}}
                        <li role="presentation" {{#active_post @index @root.pindex}}class="active"{{/active_post}}>
                            {{#if @root.saved}}
                            <a href="{{@root.baseUrl}}{{@root.cat}}-{{metadata.url}}.html">
                                {{metadata.title}}
                            </a>
                            {{else}}
                            <a href="{{@root.baseUrl}}{{@root.cat}}/{{metadata.url}}">
                                {{metadata.title}}
                            </a>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    {{#each posts}}
                    {{#active_post @index @root.pindex}}
                    {{#if @root.pdf}}
                    <ul class="nav nav-pills nav-stacked">
                        <li class="mh" role="presentation">
                            Download PDF
                        </li>
                        <li role="presentation">
                            <a href="{{@root.baseUrl}}print/pdf/{{@root.cat}}/{{metadata.url}}">This Page</a>
                        </li>
                        <li role="presentation">
                            <a href="{{@root.baseUrl}}print/pdf/{{@root.cat}}/*">This Category</a>
                        </li>
                    </ul>
                    {{/if}}
                    <ul class="nav nav-pills nav-stacked">
                        <li class="mh" role="presentation">
                            Metadata
                        </li>
                        <li class="first me" role="presentation">
                            Updated <span class="pull-right">{{date_from_now ../metadata.mtime}}</span>
                        </li>
                        <li class="me" role="presentation">
                            Created <span class="pull-right">{{date_from_now ../metadata.ctime}}</span>
                        </li>
                    </ul>
                    {{/active_post}}
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <script src="{{@root.baseUrl}}libs/jquery/jquery.min.js"></script>
    <script src="{{@root.baseUrl}}libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{@root.baseUrl}}static/files/mermaid.min.js"></script>
    <script>
    mermaid.mermais = 
    mermaid.initialize({
        startOnLoad:true, 
        cloneCssStyles: false
    });
    </script>
</body>

</html>
