<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Denke Note</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Denke">
    <style type="text/css">
    {{{css}}}
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-offset-sm-1 article">
                {{{text}}}
            </div>
        </div>
    </div>
</body>

</html>
